/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #2F8787;
	--ion-color-primary-rgb: 47,135,135;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #297777;
	--ion-color-primary-tint: #449393;

	--ion-color-secondary: #F7ECDE;
	--ion-color-secondary-rgb: 247,236,222;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d9d0c3;
	--ion-color-secondary-tint: #f8eee1;

	--ion-color-tertiary: #E9DAC1;
	--ion-color-tertiary-rgb: 233,218,193;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cdc0aa;
	--ion-color-tertiary-tint: #ebdec7;

	--ion-color-success: #4ddb86;
	--ion-color-success-rgb: 77,219,134;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #44c176;
	--ion-color-success-tint: #5fdf92;

	--ion-color-warning: #f0c128;
	--ion-color-warning-rgb: 240,193,40;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #d3aa23;
	--ion-color-warning-tint: #f2c73e;

	--ion-color-danger: #e65b6d;
	--ion-color-danger-rgb: 230,91,109;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #ca5060;
	--ion-color-danger-tint: #e96b7c;

	--ion-color-medium: #E9DAC1;
	--ion-color-medium-rgb: 233,218,193;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #cdc0aa;
	--ion-color-medium-tint: #ebdec7;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
}

